Repository sraaronrock/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat: add telecom sidebar config
  packages/manager/modules/sidebar-config/CHANGELOG.md
  packages/manager/modules/sidebar-config/README.md
  packages/manager/modules/sidebar-config/package.json
  packages/manager/modules/sidebar-config/src/index.js
  packages/manager/modules/sidebar-config/src/telecom/telecom.config.js
  packages/manager/modules/sidebar-config/src/telecom/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix, npx sort-package-json

feat: allow to pass app name to fetch configuration
  packages/manager/modules/config/src/index.js
  packages/manager/modules/ufrontend/application.js
  packages/manager/modules/ufrontend/src/framework.class.js
Due: eslint --fix

feat: create sidebar fragment
  .editorconfig
  .gitignore
  packages/manager/fragments/sidebar/.browserslistrc
  packages/manager/fragments/sidebar/.eslintrc.js
  packages/manager/fragments/sidebar/README.md
  packages/manager/fragments/sidebar/manifest.json
  packages/manager/fragments/sidebar/package.json
  packages/manager/fragments/sidebar/src/App.vue
  packages/manager/fragments/sidebar/src/components/items/Items.vue
  packages/manager/fragments/sidebar/src/components/order/Order.vue
  packages/manager/fragments/sidebar/src/main.ts
  packages/manager/fragments/sidebar/src/model/AppRoute.ts
  packages/manager/fragments/sidebar/src/model/ConfigItem.ts
  packages/manager/fragments/sidebar/src/model/Sidebar.ts
  packages/manager/fragments/sidebar/src/model/SidebarElement.ts
  packages/manager/fragments/sidebar/src/shims-tsx.d.ts
  packages/manager/fragments/sidebar/src/shims-vue.d.ts
  packages/manager/fragments/sidebar/src/sidebar.d.ts
  packages/manager/fragments/sidebar/src/sidebar.service.ts
  packages/manager/fragments/sidebar/src/translations/Messages_fr_FR.json
  packages/manager/fragments/sidebar/tsconfig.json
  packages/manager/fragments/sidebar/vue.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat: use sidebar fragment
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/app/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/pack.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/telecom-telephony-alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/administration/linesGroup/telecom-telephony-billing-account-administration-lines-group.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/telecom-telephony-billing-account.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/fax/telecom-telephony-fax.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/telecom-telephony-line.controller.js
  packages/manager/apps/telecom/src/components/components.bundle.js
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
  packages/manager/apps/telecom/src/components/sidebar/sidebar.constants.js
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_fi_FI.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_lt_LT.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/sidebar/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/components/telecom/fax/sidebar/fax-sidebar.service.js
  packages/manager/apps/telecom/src/components/telecom/otb/sidebar/over-the-box-sidebar.service.js
  packages/manager/apps/telecom/src/components/telecom/pack/sidebar/pack-sidebar.service.js
  packages/manager/apps/telecom/src/components/telecom/sms/sidebar/sms-sidebar.service.js
  packages/manager/apps/telecom/src/components/telecom/telephony/sidebar/telephony-sidebar.service.js
  packages/manager/apps/telecom/src/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(core): add agreements url
  packages/manager/modules/core/src/redirection/redirection.constants.js
Due: eslint --fix

feat: add account-migration module
  packages/manager/modules/account-migration/README.md
  packages/manager/modules/account-migration/package.json
  packages/manager/modules/account-migration/rollup.config.js
  packages/manager/modules/account-migration/src/constants.js
  packages/manager/modules/account-migration/src/index.js
  packages/manager/modules/account-migration/src/migration.class.js
  packages/manager/modules/account-migration/src/notification/index.js
  packages/manager/modules/account-migration/src/notification/notification.component.js
  packages/manager/modules/account-migration/src/notification/notification.controller.js
  packages/manager/modules/account-migration/src/notification/notification.html
  packages/manager/modules/account-migration/src/notification/translations/Messages_fr_FR.json
  packages/manager/modules/account-migration/src/service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(cloud): add account-migration notifications
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/client/index.html
  packages/manager/apps/cloud/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(dedicated): add account-migration notifications
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(public-cloud): add account-migration notifications
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/creating/index.html
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/projects.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(telecom): add account-migration notifications
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/index.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(dedicated): block autorenew on scheduled migration
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/autorenew-blocked.component.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/autorenew-blocked.html
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/autorenew-blocked.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/autorenew-blocked.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/update/update.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.module.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated): create accept all popup
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/accept-all.component.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/accept-all.controller.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/accept-all.html
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/accept-all.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/accept-all.routes.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/details/details.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/user-agreements.controller.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/user-agreements.html
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/user-agreements.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/user-agreements.routes.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/user-agreements.service.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web): add account-migration notifications
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/package.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(i18n): add missing translations
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/translations/Messages_cs_CZ.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/autorenew-blocked/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/translations/Messages_cs_CZ.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/accept-all/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/translations/Messages_cs_CZ.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/translations/Messages_lt_LT.json
  packages/manager/modules/account-migration/src/notification/translations/Messages_cs_CZ.json
  packages/manager/modules/account-migration/src/notification/translations/Messages_en_GB.json
  packages/manager/modules/account-migration/src/notification/translations/Messages_fi_FI.json
  packages/manager/modules/account-migration/src/notification/translations/Messages_lt_LT.json
Due: prettier --write

fix: import styles for listing page
  packages/manager/modules/iplb/src/index.js
Due: eslint --fix

refactor: move listing page as first level of architecture
  packages/manager/modules/iplb/src/dashboard/iplb-action.service.js
  packages/manager/modules/iplb/src/dashboard/iplb-cipher.service.js
  packages/manager/modules/iplb/src/dashboard/iplb-detail.controller.js
  packages/manager/modules/iplb/src/dashboard/iplb-detail.html
  packages/manager/modules/iplb/src/dashboard/iplb-failover-ip.service.js
  packages/manager/modules/iplb/src/dashboard/iplb-metrics.service.js
  packages/manager/modules/iplb/src/dashboard/iplb-nat-ip.service.js
  packages/manager/modules/iplb/src/dashboard/iplb-url.constants.js
  packages/manager/modules/iplb/src/dashboard/iplb-zone.service.js
  packages/manager/modules/iplb/src/dashboard/iplb.constants.js
  packages/manager/modules/iplb/src/dashboard/iplb.less
  packages/manager/modules/iplb/src/dashboard/iplb.module.js
  packages/manager/modules/iplb/src/dashboard/iplb.scss
  packages/manager/modules/iplb/src/dashboard/routing.js
  packages/manager/modules/iplb/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_es_US.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_fi_FI.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_lt_LT.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/iplb.routing.js
  packages/manager/modules/iplb/src/iplb/iplb.module.js
  packages/manager/modules/iplb/src/iplb/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/template.html
  packages/manager/modules/iplb/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

refactor: remove unecessary root state
  packages/manager/apps/cloud/client/app/cloud/project/compute/loadbalancer/cloud-project-compute-loadbalancer.controller.js
  packages/manager/apps/cloud/client/app/cloud/project/compute/loadbalancer/configure/compute-loadbalancer-configure.html
  packages/manager/apps/iplb/src/index.js
  packages/manager/modules/iplb/src/configuration/index.js
  packages/manager/modules/iplb/src/configuration/iplb-configuration.service.js
  packages/manager/modules/iplb/src/dashboard/iplb-detail.controller.js
  packages/manager/modules/iplb/src/dashboard/routing.js
  packages/manager/modules/iplb/src/frontends/index.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.html
  packages/manager/modules/iplb/src/frontends/iplb-frontends.controller.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends.html
  packages/manager/modules/iplb/src/graph/index.js
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.routing.js
  packages/manager/modules/iplb/src/server/iplb-server-edit.controller.js
  packages/manager/modules/iplb/src/server/iplb-server-edit.html
  packages/manager/modules/iplb/src/serverFarm/index.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm-edit.controller.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm-edit.html
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.controller.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.html
  packages/manager/modules/iplb/src/sslCertificate/index.js
  packages/manager/modules/iplb/src/sslCertificate/iplb-ssl-certificate-edit.controller.js
  packages/manager/modules/iplb/src/sslCertificate/iplb-ssl-certificate-edit.html
  packages/manager/modules/iplb/src/sslCertificate/iplb-ssl-certificate.html
  packages/manager/modules/iplb/src/sslCertificate/order/iplb-ssl-certificate-order.controller.js
  packages/manager/modules/iplb/src/sslCertificate/order/iplb-ssl-certificate-order.html
  packages/manager/modules/iplb/src/task/index.js
  packages/manager/modules/iplb/src/vrack/index.js
  packages/manager/modules/iplb/src/vrack/iplb-vrack.controller.js
  packages/manager/modules/iplb/src/zone/index.js
  packages/manager/modules/iplb/src/zone/iplb-zone-add.controller.js
  packages/manager/modules/iplb/src/zone/iplb-zone-add.html
  packages/manager/modules/iplb/src/zone/iplb-zone-delete.controller.js
  packages/manager/modules/iplb/src/zone/iplb-zone-delete.html
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix

feat: add breadcrumb
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/iplb/src/index.html
  packages/manager/apps/iplb/src/index.js
  packages/manager/modules/iplb/package.json
  packages/manager/modules/iplb/src/configuration/index.js
  packages/manager/modules/iplb/src/dashboard/routing.js
  packages/manager/modules/iplb/src/frontends/index.js
  packages/manager/modules/iplb/src/graph/index.js
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/iplb.routing.js
  packages/manager/modules/iplb/src/serverFarm/index.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.controller.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.html
  packages/manager/modules/iplb/src/serverFarm/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/sslCertificate/index.js
  packages/manager/modules/iplb/src/task/index.js
  packages/manager/modules/iplb/src/vrack/index.js
  packages/manager/modules/iplb/src/vrack/iplb-vrack.controller.js
  packages/manager/modules/iplb/src/zone/index.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

perf: store user and reduce calls to /me
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/components/at-internet/index.js
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/account-sidebar/src/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/config/src/environment/environment.service.js
  packages/manager/modules/core/src/index.js
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/service.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat: add breadcrumb
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/nasha/src/index.html
  packages/manager/modules/nasha/package.json
  packages/manager/modules/nasha/src/dashboard/routing.js
  packages/manager/modules/nasha/src/index.js
  packages/manager/modules/nasha/src/nasha.routing.js
  packages/manager/modules/nasha/src/partition/access/add/add.routing.js
  packages/manager/modules/nasha/src/partition/access/delete/delete.routing.js
  packages/manager/modules/nasha/src/partition/access/routing.js
  packages/manager/modules/nasha/src/partition/access/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/partition/add/add.routing.js
  packages/manager/modules/nasha/src/partition/controller.js
  packages/manager/modules/nasha/src/partition/custom-snapshot/custom-snapshot.routing.js
  packages/manager/modules/nasha/src/partition/delete/delete.routing.js
  packages/manager/modules/nasha/src/partition/routing.js
  packages/manager/modules/nasha/src/partition/snapshot/snapshot.routing.js
  packages/manager/modules/nasha/src/partition/update/update.routing.js
  packages/manager/modules/nasha/src/partition/zfs-options/zfs-options.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(dedicated.server.bandwidth): use downgrade instead of resiliation
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/bandwidth.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-cancel/private-cancel.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-cancel/private-cancel.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-cancel/private-cancel.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-cancel/private-cancel.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-cancel/public-cancel.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-cancel/public-cancel.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-cancel/public-cancel.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-cancel/public-cancel.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-cancel/public-cancel.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): disable deleting instance
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write

fix(cloud-connect): fix issues
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/contacts/service/user-contacts.constants.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/cloud-connect.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/overview/associate-vrack/template.html
  packages/manager/modules/cloud-connect/src/details/overview/associate-vrack/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/template.html
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/edit-description/edit-description.component.js
  packages/manager/modules/cloud-connect/src/details/overview/edit-description/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/overview.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix

refactor: move listing page as first architecture level
  packages/manager/modules/veeam-enterprise/src/dashboard/controller.js
  packages/manager/modules/veeam-enterprise/src/details/constants.js
  packages/manager/modules/veeam-enterprise/src/details/controller.js
  packages/manager/modules/veeam-enterprise/src/details/index.less
  packages/manager/modules/veeam-enterprise/src/details/index.scss
  packages/manager/modules/veeam-enterprise/src/details/routing.js
  packages/manager/modules/veeam-enterprise/src/details/service.js
  packages/manager/modules/veeam-enterprise/src/details/template.html
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_de_DE.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_en_GB.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_es_ES.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_es_US.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_fi_FI.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_fr_CA.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_fr_FR.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_it_IT.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_lt_LT.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_pl_PL.json
  packages/manager/modules/veeam-enterprise/src/details/translations/Messages_pt_PT.json
  packages/manager/modules/veeam-enterprise/src/details/veeam-enterprise.module.js
  packages/manager/modules/veeam-enterprise/src/index.js
  packages/manager/modules/veeam-enterprise/src/translations/Messages_fr_FR.json
  packages/manager/modules/veeam-enterprise/src/veeam.module.js
  packages/manager/modules/veeam-enterprise/src/veeam.routing.js
  packages/manager/modules/veeam-enterprise/src/veeam/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

refactor: revamp state and url architecture
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/veeam-enterprise/src/details/routing.js
  packages/manager/modules/veeam-enterprise/src/details/veeam-enterprise.module.js
  packages/manager/modules/veeam-enterprise/src/index.js
  packages/manager/modules/veeam-enterprise/src/veeam.module.js
  packages/manager/modules/veeam-enterprise/src/veeam.routing.js
Due: eslint --fix

feat: add breadcrumb
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/veeam-enterprise/src/index.html
  packages/manager/apps/veeam-enterprise/src/index.js
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/veeam-enterprise/src/details/routing.js
  packages/manager/modules/veeam-enterprise/src/index.js
  packages/manager/modules/veeam-enterprise/src/veeam.module.js
  packages/manager/modules/veeam-enterprise/src/veeam.routing.js
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(cloud-connect): fix issues
  packages/manager/modules/cloud-connect/src/cloud-connect.class.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
Due: htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html", prettier --write, eslint --fix

fix(domain.zone.activate): only autopay depending on payment method
  packages/manager/apps/web/client/app/domain/zone/activate/activate.controller.js
Due: eslint --fix

fix: bump dependencies
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
Due: prettier --write, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/dist-EU/**,**/dist-CA/**,**/dist-US/**,**/www/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
